
<div ng-controller="dataAPI">
    <p>    Click <a ng-click="loadData()" class="btn btn-warning btn-xs" role="button">here</a> to load data.</p>
<table class="table table-striped table-bordered table-hover" at-table at-paginated at-list="list" at-config="config">
    <tr>
        <th class="success">ID</th>
        <th class="success">Institution</th>
        <th class="success">Category</th>
        <th class="success">State</th>
        <th class="success">Position</th>
        <th class="success">AvgSalary</th>
        <th class="success">AvgRaisePCT</th>
        <th class="success">Count</th>
        <th class="success">AvgCompensation</th>
        <th class="success">SalaryEqualityPCT</th>
    </tr>
    <tr ng-repeat="rec in records">
        <td>{{rec._id}}</td>
        <td>{{rec.Institution}}</td>
        <td>{{rec.Category}}</td>
        <td>{{rec.State}}</td>
        <td>{{rec.Position}}</td>
        <td>{{rec.AvgSalary}}</td>
        <td>{{rec.AvgRaisePCT}}</td>
        <td>{{rec.Count}}</td>
        <td>{{rec.AvgCompensation}}</td>
        <td>{{rec.SalaryEqualityPCT}}</td>
    </tr>
</table>
</div>
