<div ng-controller="QueryController">
    <h3>Aggregation Stages</h3>
     <accordion close-others="true">
         <accordion-group heading="{{group.title}}" ng-repeat="group in groups" is-open="group.open">
            <accordion-heading>
                <div>
                    <div class="pull-left">
                        <B>Stage {{$index + 1}}: </B>
                        <input type="text" ng-model="group.stageName" ng-click="stopExpanding($event)">
                        <select ng-click="stopExpanding($event)" ng-options="command.command as command.name for command in commandList" ng-model="group.stageCommand"></select>
                    </div>

                    <div class="pull-right">
                        <i class="glyphicon glyphicon-chevron-up"  ng-click="stopExpanding($event); changeIndex($index, 'up');"></i>
                        <i class="glyphicon glyphicon-chevron-down"  ng-click="stopExpanding($event); changeIndex($index, 'down');"></i>
                        <i class="glyphicon" ng-class="{'glyphicon-minus-sign': group.open, 'glyphicon-plus-sign': !group.open}"></i>
                        <i class="glyphicon glyphicon-remove" ng-click="stopExpanding($event); deletequery($index);"></i>
                    </div>
                    <div class="clear"></div>
                </div>
            </accordion-heading>
            <accordion-body class="stagebody">
                <div><textarea ng-model="group.stageQuery" ng-change="consolidateStages()"></textarea></div>
                <div>
                    <b>Example:</b>
                    <div ng-repeat="helpItem in commandHelp[group.stageCommand.substr(1)]">
                        <div>
                            {{helpItem.text}}
                        </div>
                        <a ng-click="group.stageQuery=helpItem.text;consolidateStages();" style="cursor: pointer">Use</a>  | <a ng-href="{{helpItem.url}}" target="_blank">Help</a>
                        <br><br>
                        <div>
                           <b>Explanation:</b>
                            <div>{{helpItem.explanation}}</div>
                        </div>
                    </div>
                </div>
            </accordion-body>
        </accordion-group>
    </accordion>
    <div class="pull-right">
    	<button class="btn btn-primary btn-xs" ng-click="addNewStage()">Add new stage</button>
    </div>
    <div style="vertical-align:middle;margin-top:10px;">
	<label for="query">Customize Query :</label> 
    	<textarea class="active primary" style="width:100%;" id="query" name="query" ng-model="query">{{query}}</textarea>
    	<div class="pull-right">
        	<button class="btn btn-primary btn-xs" ng-click="runAggregation()">Run Aggregation</button>
    	</div>
    </div>
    <div ng-if="results.length > 0">
        <h3>Query Results</h3>
        <div id="exportLink"></div>
        <div class="ngGridStyle" ng-grid="ngGridView"></div>
    </div>
</div>
