<div ng-controller="QueryController">
    <h2>Aggregation stages</h2>
     <accordion close-others="true">
         <accordion-group heading="{{group.title}}" ng-repeat="group in groups" is-open="group.open">
            <accordion-heading>
                <div>
                    <div class="pull-left">
                        <B>Stage {{$index + 1}}: </B>
                        <input type="text" ng-model="group.stageName" ng-click="stopExpanding($event)">
                        <select ng-click="stopExpanding($event)" ng-options="command.command as command.name for command in commandList" ng-model="group.stageCommand"></select>
                    </div>

                    <div class="pull-right">
                        <i class="glyphicon glyphicon-chevron-up"  ng-click="stopExpanding($event); changeIndex($index, 'up');"></i>
                        <i class="glyphicon glyphicon-chevron-down"  ng-click="stopExpanding($event); changeIndex($index, 'down');"></i>
                        <i class="glyphicon" ng-class="{'glyphicon-minus-sign': group.open, 'glyphicon-plus-sign': !group.open}"></i>
                        <i class="glyphicon glyphicon-remove" ng-click="stopExpanding($event); deletequery($index);"></i>
                    </div>
                    <div class="clear"></div>
                </div>
            </accordion-heading>
            <accordion-body class="stagebody">
                <div><textarea ng-model="group.stageQuery"></textarea></div>
                <div>
                    <b>Examples:</b>
                    <div ng-repeat="helpItem in commandHelp[group.stageCommand.substr(1)]">
                        <div>
                            {{helpItem.text}}
                        </div>
                        <a ng-click="group.stageQuery=helpItem.text" style="cursor: pointer">Use</a>  | <a ng-href="{{helpItem.url}}" target="_blank">help</a>
                    </div>
                </div>
            </accordion-body>
        </accordion-group>
     </accordion>
    <div style="border-bottom: 1px solid #c8c8c8;text-align: right; padding-bottom: 2px" class="pull-right">
        <button class="btn btn-primary btn-xs" ng-click="addNewStage()">Add new stage</button>
        <button class="btn btn-primary btn-xs" ng-click="runAggregation()">Run Aggregation</button>

    </div>
<div class="container pull-left">
      <button class="btn btn-success btn-xs" data-toggle="collapse" data-target="#queries">Aggregate Queries</button>
      <div id="queries" class="collapse"></br>
        <textarea class="active primary"cols="70%" name="query"></textarea>
      </div></div>
    
</div>